{% extends "@App/index.html.twig" %}

  {% block contentbody %}
      <h1>Liste des offres</h1>

      <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr>

              <th>Titre </th>
              <th>Description </th>
              <th>Poste</th>
              <th scope="col">Salaire</th>
              <th scope="col">Description</th>
              <th scope="col">Promotion</th>
              <th scope="col">Media_offre</th>

          </tr>
          </thead>
          {% for personne in offre %}

          <tbody>
          <tr>

              <th scope="row">


                  {{ personne.title }}
              </th>

              <td>

                  {{ personne.description }}

              </td>


              {{ personne.poste }}
              </td>
              <td>

                  {{ personne.salaire }}
              </td>
              <td>

                  {{ personne.promotion }}
              </td>

              <td>
                  {{personne.getMediaEvent().getId()  }}
              </td>

              {% endfor %}





          </tr>




          </tbody>
      </table>



  {% endblock %}