{% extends '@App/HomeLayout.html.twig' %}

{% block contentbody %}
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 600px; background-image: url({{ asset('../assets/img/theme/profile-cover.jpg') }}); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">EventDetail</h1>
                    <p class="text-white mt-0 mb-5">{{ evenement.title }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contentheader %}

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="{{ asset('assets/img/brand/blue.png') }}"
                                         class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info mr-4">Subscribe</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Quit</a>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    <div>
                                        <span class="heading">{{ evenement.adherants|length }}</span>
                                        <span class="description">Interested</span>
                                    </div>
                                    <div>
                                        <span class="heading">{{ evenement.frais }}</span>
                                        <span class="description">Cost</span>
                                    </div>
                                    <div>
                                        <span class="heading">{{ evenement.limitInscription }}</span>
                                        <span class="description">Remaining Places</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3>
                                {{ evenement.title }}
                            </h3>
                            <div class="h5 font-weight-300">
                                <i class="ni location_pin mr-2"></i> {{ evenement.organisateur}}

                            </div>
                            <div class="h5 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i>{{ evenement.dateDepart }}-{{ evenement.dateFin}}
                            </div>
                            <div>
                                <i class="ni education_hat mr-2"></i>{{ evenement.descriptionOrganisateur }}
                            </div>
                            <hr class="my-4"/>
                            <p>{{ evenement.description }}</p>
                            <a href="#">Show more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

