{% extends "@App/index.html.twig" %}

  {% block contentbody %}
    <h1>Liste des evenements</h1>

    <table class="table align-items-center table-flush">
        <thead class="thead-light">
        <tr>

            <th>Id </th>
            <th>Responsable_evennement </th>
            <th>Media_event</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">DateDepart</th>
            <th scope="col">DateFin</th>
            <th scope="col">Place</th>
            <th scope="col">Organisateur</th>
            <th scope="col">DescriptionOrganisateur</th>
            <th scope="col">Accompagnement</th>
            <th scope="col">Frais </th>
            <th scope="col">Transport</th>
            <th scope="col">LimitInscription</th>
        </tr>
        </thead>
        {% for personne in evennements %}

        <tbody>
        <tr>

            <th scope="row">
            <td> {{ personne.getResponsableEvennement()}} </td>
            <td> {{personne.getMediaEvent().getId()  }}   </td>
            <td> {{ personne.id }}     </td>

            <th>

                {{ personne.title }}
            </th>

            <td>

                {{ personne.description }}

            </td>


                {{ personne.dateDepart|date("m/d/y") }}
            </td>
            <td>

                {{ personne.dateFin|date("m/d/y") }}
            </td>
            <td>

                {{ personne.place }}
            </td>
            <td>

                {{ personne.organisateur }}
            </td>
            <td>

                {{ personne.descriptionOrganisateur }}
            </td>
            <td>

                {{ personne.accompagnement}}
            </td>
            <td>

                {{ personne.frais }}
            </td>
            <td>

                {{ personne.transport }}
            </td>
            <td>

                {{ personne.limitInscription }}
            </td>

            {% endfor %}





        </tr>




        </tbody>
    </table>



{% endblock %}