{% extends "@App/HomeLayout.html.twig" %}
{% block css %}
    {{ parent() }}
    <script src="{{ asset('node_modules/select2/dist/css/select2.css') }}"></script>

{% endblock %}
{% block contentheader %}
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 600px; background-image: url({{ asset('../assets/img/theme/profile-cover.jpg') }}); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">Events Lists </h1>
                    <p class="text-white mt-0 mb-5">Here is the list of all Events...</p>
                    <a href="{{ path('eventadd') }}" class="btn btn-info">Manage Teams</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contentbody %}
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-8">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">My account</h3>
                            </div>
                            <div class="col-4 text-right">
                                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}